<div class="mx-20 mt-5 text-slate-900 flex flex-col p-4">
  <p class="font-semibold text-gray-900">Filename</p>
  <p><%= @document.file.filename %></p>

  <p class="font-semibold mt-2 text-gray-900">URL for sharing</p>
  <div data-controller="clipboard">
    <span data-clipboard-target="source"><%=url_for(action: 'share', controller: 'documents', shared_id: @document.shared_id, only_path: false)%></span>
    <button data-action="clipboard#copy" data-clipboard-target="button" class="btn-primary">Copy to Clipboard</button>
  </div>

  <p class="font-semibold mt-2 text-gray-900">Delete</p>
  <%= button_to "Delete file", document_path(@document), method: :delete, class: "btn-warning" %>

  <div class="m-auto">
    <%= button_to "+ Create another link", new_document_path, method: :get, class: "btn-success" %>
  </div>
</div>
